body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#esi_consent_buttons button {
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(25, 10, 15);
    background-color: rgb(46, 220, 139);
}x

#esi_consent_buttons button.selected {
    background-color: #0d2c0e;
    color: rgb(98, 17, 17);
}


h2 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"], select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="text"]:focus, select:focus {
    border-color: #4CAF50;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navigation {
    margin-top: 20px;
}

.navigation a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #4CAF50;
}
