/* Basic page styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e0e8f9; /* Soft blue background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 1s ease-out;
}

/* Main container styling */
.sales-container {
    background-color: #ffffff; /* White background for the container */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px; /* Adjust width as needed */
    margin: auto; /* Center the box */
    animation: popIn 0.6s ease-out;
}

h2 {
    color: #4a4e69; /* Dark blue for the title */
    margin-bottom: 30px;
}

/* Styling for form fields */
input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
}

/* Styling for buttons */
button {
    background-color: #9a8c98; /* Muted purple */
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px #6b6d76; /* Dark shadow for depth */
    outline: none;
}

.sale-type-btn {
    /* Basic button styling */
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #8e8e8e;
    background-color: #aeaeae;
    border-radius: 5px;
    cursor: pointer;
    /* ... */
}

.sale-type-btn.selected {
    background-color: #9a8c98; /* Or any color to indicate selection */
    color: white;
}



button:hover {
    background-color: #c9ada7; /* Lighter shade of purple */
    box-shadow: 0 6px #6b6d76;
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 2px #6b6d76;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes popIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* Additional styling as needed */
