/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-primary, #121212);
    color: var(--color-secondary, #e0e0e0);
    margin: 0;
    padding: 20px;
}

/* Header */
h1 {
    font-size: 28px;
    color: var(--color-secondary, #e0e0e0);
    text-align: center;
    margin-bottom: 30px;
}

/* Containers */
.container {
    background-color: var(--color-tertiary, #1e1e1e);
    border: 1px solid var(--color-quaternary, #444);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

/* Specific Container Styles */
.counter-container {
    background-color: var(--color-quaternary, #282828);
}

.leaderboard-container {
    background-color: var(--color-tertiary, #2a2a2a);
}

/* Sales Outcomes Container */
#sales-outcomes-container {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    margin: 0 auto; /* Center the container */
}

/* Sales Count Item */
.sales-count-item {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--color-quinary, #bbb);
}

/* Account Container */
.account-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--color-secondary, #e0e0e0);
}

.account-content {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Add some space between sales info and customer info */
}

/* Customer Info Container */
.customer-info {
    width: 400px;
    height: 100px;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center contents vertically */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--color-quaternary, #444);
    border-radius: 5px;
    background-color: var(--color-tertiary, #2a2a2a);
}

.customer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.customer-field-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.customer-field {
    padding: 0 10px;
    font-size: 18px; /* Bigger text size */
    font-weight: bold; /* Bold text */
}

.customer-field.align-left {
    text-align: left;
    padding-left: 20px; /* Add padding to bring it closer to the left side */
}

.customer-field.align-right {
    text-align: right;
    padding-right: 20px; /* Add padding to bring it closer to the right side */
}

/* More Info Button */
.more-info-btn {
    padding: 10px; /* Adjusted padding for bigger size */
    background-color: var(--color-quaternary, #444);
    color: var(--color-secondary, #e0e0e0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px; /* Same size as other text */
    text-align: center;
}

.more-info-btn:hover {
    background-color: var(--color-quinary, #555);
}

.more-info-popup {
    background-color: var(--color-tertiary, #2a2a2a);
    border: 1px solid var(--color-quaternary, #444);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    margin-top: 40px; /* Adjust the margin to position it lower */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    display: none;
}

/* Hover Effect */
.container:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

/* Outcome Item */
.outcome-item {
    background-color: var(--color-tertiary, #2a2a2a);
    border: 1px solid var(--color-quaternary, #444);
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    flex-direction: column;
}

.outcome-item:hover {
    background-color: var(--color-quaternary, #333);
    border-color: var(--color-quinary, #555);
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.action {
    text-align: center;
    font-size: 1.1em;
    width: 250px; /* Set the width of the action container */
    margin: 0 auto; /* Center the action container */
}

.date-top {
    text-align: right;
    font-size: 0.9em;
    color: var(--color-quinary, #888);
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes {
    text-align: left;
    flex-grow: 1;
}

.time-bottom {
    text-align: right;
    font-size: 0.9em;
    color: var(--color-quinary, #888);
}

.copy-action-btn {
    padding: 5px 10px;
    background-color: var(--color-quaternary, #444);
    color: var(--color-secondary, #e0e0e0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

.copy-action-btn:hover {
    background-color: var(--color-quinary, #555);
}

/* Leaderboard Styles */
#leaderboard-container {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-tertiary, #1e1e1e);
    border-radius: 5px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    max-width: 1200px;
}

#leaderboard-container h3 {
    text-align: center;
    color: var(--color-secondary, #e0e0e0);
}

#leaderboard-types-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}

.leaderboard-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary, #2a2a2a);
    border: 1px solid var(--color-quaternary, #444);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 250px;
}

.leaderboard-container h2 {
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-secondary, #e0e0e0);
}

.leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.leaderboard-item {
    background-color: var(--color-tertiary, #2a2a2a);
    border: 1px solid var(--color-quaternary, #444);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-align: center;
}

.leaderboard-item.current-user {
    text-decoration: underline;
    background-color: #e0f7fa; /* Highlight current user */
}

#leaderboard-container hr {
    border: 0;
    border-top: 1px solid var(--color-quaternary, #444);
    margin: 10px 0;
}

.nav-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.user-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.sales-info-container {
    margin-top: 10px;
}

.sale-type-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking {
    font-weight: bold;
    margin-right: 10px;
}
