/* Buttons */
.more-info-btn {
    padding: 10px; /* Adjusted padding for bigger size */
    background-color: #3498DB; /* Primary color updated to a blue shade */
    color: #ECF0F1; /* Light text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px; /* Same size as other text */
    text-align: center;
}

.more-info-btn:hover {
    background-color: #2980B9; /* Darker shade for hover effect */
}

.copy-action-btn {
    padding: 5px 10px;
    background-color: #3498DB; /* Primary color updated to a blue shade */
    color: #ECF0F1; /* Light text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

.copy-action-btn:hover {
    background-color: #2980B9; /* Darker shade for hover effect */
}

/* General button style */
.button {
    padding: 10px;
    background-color: #3498DB; /* Primary color updated to a blue shade */
    color: #ECF0F1; /* Light text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px; /* Same size as other text */
    text-align: center;
}

.button:hover {
    background-color: #2980B9; /* Darker shade for hover effect */
}