:root {
    --color-secondary: #6c757d;
}

.chart-container {
    grid-area: chart;
    background-color: var(--color-secondary);
    padding: 20px;
    width: 750px;
    height: 500px;
    border-radius: 10px;
    box-sizing: border-box;
}

#chart-container, #salesChart {
    width: 100%;
    height: 100%;
}