/* Containers */
.container {
    background-color: transparent; /* Make container background invisible */
    border: none; /* Remove border */
    padding: 20px;
    margin-bottom: 20px;
}

/* Specific Container Styles */
.counter-container {
    background-color: #1E1E1E; /* Slightly darker background */
    color: #ECF0F1; /* Light text color */
}

.leaderboard-container {
    background-color: #1E1E1E; /* Slightly darker background */
    color: #ECF0F1; /* Light text color */
}

/* Sales Outcomes Container */
#sales-outcomes-container {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    margin: 0 auto; /* Center the container */
}

/* Sales Counts Container */
.sales-counts-container {
    background-color: #1E1E1E; /* Slightly darker background */
    color: #ECF0F1; /* Light text color */
    border: 1px solid #34495E; /* Updated border color */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

/* Account Container */
.account-container {
    border: 1px solid #34495E; /* Updated border color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #1E1E1E; /* Slightly darker background */
    color: #ECF0F1; /* Light text color */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

/* Account Title */
.account-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ECF0F1; /* Light text color */
}

/* Account Content */
.account-content {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Add some space between sales info and customer info */
}

/* Customer Info Container */
.customer-info {
    width: 400px;
    height: 100px;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center contents vertically */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #34495E; /* Updated border color */
    border-radius: 5px;
    background-color: #1E1E1E; /* Slightly darker background */
    color: #ECF0F1; /* Light text color */
}

/* Customer Row */
.customer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

/* Customer Field Container */
.customer-field-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Customer Field */
.customer-field {
    padding: 0 10px;
    font-size: 18px; /* Bigger text size */
    font-weight: bold; /* Bold text */
    color: #ECF0F1; /* Light text color */
}

/* Align left for first name and phone number */
.customer-field.align-left {
    text-align: left;
    padding-left: 20px; /* Add padding to bring it closer to the left side */
}

/* Align right for last name and button */
.customer-field.align-right {
    text-align: right;
    padding-right: 20px; /* Add padding to bring it closer to the right side */
}

/* Hover Effect */
.container:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

/* Outcome Item */
.outcome-item {
    background-color: #1E1E1E; /* Darker background */
    color: #ECF0F1; /* Light text color */
    border: 1px solid #34495E; /* Updated border color */
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    flex-direction: column;
}

.outcome-item:hover {
    background-color: #34495E; /* Hover background color */
    border-color: #1ABC9C; /* Hover border color */
}

/* Top Section */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Action */
.action {
    text-align: center;
    font-size: 1.1em;
    width: 250px; /* Set the width of the action container */
    margin: 0 auto; /* Center the action container */
}

/* Bottom Section */
.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Notes */
.notes {
    text-align: left;
    flex-grow: 1;
    color: #ECF0F1; /* Light text color */
}