/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Playfair Display', serif; /* Updated font family */
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  color: #333;
  line-height: 1.6;
  padding: 20px;
  background-attachment: fixed;
  overflow-x: hidden;
  font-size: 24px; /* Increase font size */
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.1); /* Low opacity white background */
  backdrop-filter: blur(15px); /* High blur effect */
  -webkit-backdrop-filter: blur(15px);
  z-index: 1000; /* Ensure the header stays on top */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  width: 50%;
  padding: 15px;
  font-size: 24px; /* Increase font size */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Transparent border */
  border-radius: 5px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  background: none; /* No background color */
  backdrop-filter: blur(15px); /* High blur effect */
  -webkit-backdrop-filter: blur(15px);
  color: #333;
}

.search-container input[type="text"]:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.3); /* Transparent border focus */
}

.search-container button {
  padding: 15px 20px;
  font-size: 24px; /* Increase font size */
  border: none;
  border-radius: 5px;
  background: none; /* No background color */
  backdrop-filter: blur(15px); /* High blur effect */
  -webkit-backdrop-filter: blur(15px);
  color: #333; /* Black text color */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-container button:hover {
  background: rgba(255, 255, 255, 0.2); /* Slightly higher opacity on hover */
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 20px; /* Adjusted padding to account for fixed header */
  background: none; /* Remove background for main container */
}

.container {
  display: none;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 40px; /* Increased padding to prevent bleeding */
  margin: 40px 0; /* Increased margin to add space between containers */
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  color: #333;
  word-wrap: break-word; /* Ensure long text breaks to the next line */
}

.container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.container h2 {
  margin-bottom: 15px;
  color: #3498db;
}

.highlight {
  background-color: rgba(255, 182, 193, 0.7); /* Soft magenta */
  color: #2c3e50;
  padding: 2px 5px;
  border-radius: 3px;
}

.visible {
  display: block !important;
}

.hidden {
  display: none;
}