.donation-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Ensures the buttons wrap nicely on smaller screens */
}

.donation-button {
    width: 250px; /* Adjusted width to match your site's look */
    background-color: var(--color-secondary); /* Use your site's color scheme */
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: var(--margin-s);
}

.donation-button:hover {
    transform: scale(1.05);
    background-color: var(--color-quaternary); /* Hover effect to match your theme */
}

.donation-button h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: var(--text-white);
}

.donation-button p {
    font-size: 1.2em;
    color: var(--text-white);
}

.donation-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.donation-title h1 {
    font-size: 2.5em;
    color: var(--text-white);
}

.donation-title p {
    font-size: 1.2em;
    color: var(--text-white);
    margin-top: 10px;
}
