.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#leaderboard-section {
    flex: 1;
    min-width: 300px;
}

#live-activities-section {
    flex: 1;
    min-width: 300px;
    margin-left: 20px;
}

#leaderboard-title, .leaderboard-section h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    line-height: 1.5;
    color: var(--text-white);
    
}

.leaderboard-container, .live-activities-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(8px);
    transition: background-color 0.3s ease, opacity 0.3s;
    color: var(--text-bright-primary);
    backdrop-filter: blur(13px);
    width: 48%; /* Adjust width to fit both containers side by side */
}

.leaderboard-container:hover, .live-activities-container:hover {
    opacity: 0.8;
    backdrop-filter: blur(4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* More intense shadow, offset to bottom right, more blur */
}

.leaderboard-container h3, .live-activities-container h3 {
    text-align: center;
    font-size: 1.5em; /* Ensure both titles are the same size */
}

.leaderboard-item {
    text-align: center;
    margin: 10px 0;
    color: var(--text-white);
    font-size: 2em; /* Adjust based on your base font size */
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
}