
#leaderboard-section {
    flex: 1;
    min-width: 300px;
}

#live-activities-section {
    flex: 1;
    min-width: 300px;
    margin-left: 20px;
}


.picker-leaderboard-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.leaderboard-container,
#live-activities-section {
    flex: 1;
    
    margin: 10px;
    min-width: 300px; /* Ensures the sections don't get too narrow on smaller screens */
}

.picker-header {
    display: flex;
    gap: 10px; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
}

#leaderboard-title {
    margin-bottom: 10px; /* Adjust as needed */
}

.leaderboard-item {
    text-align: center;
    align-items: center;
    margin: 10px 0;
    color: var(--text-white);
    font-size: 1.3em; /* Adjust based on your base font size */
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
}


