:root {
    --color-primary: #007bff;
    --text-color: #ffffff;
}

.monthly-totals-container {
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.monthly-totals-container h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: var(--text-color);
}

#monthlySalesTotals {
    font-size: 20px;
}