.sales-history-container {
    margin-bottom: 20px; /* Adjust spacing as needed */
}

.customer-info-container {
    margin-top: 20px; /* Adjust spacing as needed */
    margin-bottom: 20px; /* Adjust spacing as needed */

}

.lead-id-container {
    margin-top: 20px; /* Adjust spacing as needed */
    margin-bottom: 20px; /* Adjust spacing as needed */

}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 50%;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-container button {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}