:root {
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-tertiary: #28a745;
    --color-quaternary: #17a2b8;
    --color-quinary: #ffc107;
    --text-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--color-secondary);
    font-size: 18px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "leaderboard"
        "salesHistory"
        "chart"
        "monthlyTotals";
    grid-gap: 20px;
    width: 95%;
    height: 95%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-primary);
    box-sizing: border-box;
    overflow-y: auto;
    margin: 75px auto 0 auto;
}

.container {
    background-color: var(--color-tertiary);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.header-container h1, .header-container .profile-button {
    color: var(--text-color);
}

input, select, button {
    color: var(--color-primary);
    background-color: var(--text-color);
}

input::placeholder, select option {
    color: var(--color-quinary);
}

.sales-history-container {
    grid-area: salesHistory;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-section h2 {
    margin: 0;
    font-size: 30px;
    color: var(--text-color);
}

.search-container {
    position: relative;
    width: 100%;
}

.search-container input {
    padding: 10px 15px;
    border: 1px solid var(--color-quaternary);
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
}

.search-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--color-secondary);
    font-size: 24px;
    cursor: pointer;
}

.lead-id-container {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--color-secondary);
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

.sales-history-content {
    background-color: var(--color-secondary);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
}

.sales-history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-quaternary);
}

.sales-history-item:last-child {
    border-bottom: none;
}

.sales-history-item .details {
    display: flex;
    flex-direction: column;
}

.sales-history-item .details p {
    margin: 4px 0;
    font-size: 18px;
    color: var(--text-color);
}

.sales-history-item .date-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sales-history-item .date-time span {
    font-size: 18px;
    color: var(--text-color);
}

.customer-info-container {
    background-color: var(--color-secondary);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
}

.customer-info-container p {
    margin: 4px 0;
    font-size: 18px;
}

.navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.navigation-container button {
    padding: 10px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: var(--text-color);
    cursor: pointer;
    font-size: 18px;
}

.navigation-container button:disabled {
    background-color: var(--color-quaternary);
}

.navigation-container span {
    font-size: 18px;
    color: var(--text-color);
}