.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 4px;
    margin: 10px 0;
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
    width: 0%;
    border-radius: 4px;
    transition: width 0.3s;
}

#progress-bars span {
    display: block;
    margin-top: 5px;
}
