/* Containers */
.container {
    background-color: transparent; /* Make container background invisible */
    border: none; /* Remove border */
    padding: 20px;
    margin-bottom: 20px;
}

/* Specific Container Styles */
.counter-container {
    background-color: #1E1E1E; /* Fixed darker background */
    color: #ECF0F1; /* Fixed light text color */
}

.leaderboard-container {
    background-color: #1E1E1E; /* Fixed darker background */
    color: #ECF0F1; /* Fixed light text color */
}

/* Sales Outcomes Container */
#sales-outcomes-container {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    margin: 0 auto; /* Center the container */
}

/* Sales Counts Container */
.sales-counts-container {
    background-color: #1E1E1E; /* Fixed darker background */
    color: #ECF0F1; /* Fixed light text color */
    border: 1px solid #34495E; /* Fixed border color */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

/* Account Container */
.account-container {
    border: 1px solid #34495E; /* Fixed border color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #1E1E1E; /* Fixed darker background */
    color: #ECF0F1; /* Fixed light text color */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

/* Account Title */
.account-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ECF0F1; /* Fixed light text color */
}

/* Account Content */
.account-content {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Add some space between sales info and customer info */
}

/* Customer Info Container */
.customer-info {
    width: 400px;
    height: 100px;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center contents vertically */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #34495E; /* Fixed border color */
    border-radius: 5px;
    background-color: #1E1E1E; /* Fixed darker background */
    color: #ECF0F1; /* Fixed light text color */
}

/* Customer Row */
.customer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

/* Customer Field Container */
.customer-field-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Customer Field */
.customer-field {
    padding: 0 10px;
    font-size: 18px; /* Bigger text size */
    font-weight: bold; /* Bold text */
    color: #ECF0F1; /* Fixed light text color */
}

/* Align left for first name