:root {
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-tertiary: #28a745;
    --color-quaternary: #17a2b8;
    --color-quinary: #ffc107;
    --text-color: #ffffff;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 48% 48%; /* Adjusted column widths */
    grid-template-rows: auto auto auto; /* Three rows */
    grid-template-areas: 
        "leaderboard salesHistory"
        "chart chart"
        "monthlyTotals monthlyTotals"; /* Adjusted layout */
    grid-gap: 20px;
    width: 95%;
    height: 95%;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 100px auto 0 auto;
    justify-content: space-between; /* Add space between columns */
}

.container {
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.leaderboard {
    grid-area: leaderboard;
}

.salesHistory {
    grid-area: salesHistory;
}

.chart {
    grid-area: chart;
}

.monthlyTotals {
    grid-area: monthlyTotals;
}

.popup-container {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    z-index: 1000;
}

.sign-out-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.sign-out-button:hover {
    background-color: #d32f2f;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--color-secondary); /* Color of the scrollbar track */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid var(--color-secondary); /* Space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-tertiary); /* Change thumb color on hover */
}