.dynamic-grid {
    display: grid;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    gap: var(--margin-m);
}

.layout-1x1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.layout-2x1 {
    grid-template-columns: 1fr 1fr; /* Two columns taking 50% each */
    grid-template-rows: 1fr; /* Single row taking 100% height */
}

.layout-2x2 {
    grid-template-columns: 1fr 1fr; /* Two columns taking 50% each */
    grid-template-rows: 1fr 1fr; /* Two rows, each taking 50% height */
}

.layout-1x2 {
    grid-template-columns: 1fr; /* Single column taking 100% width */
    grid-template-rows: 1fr 1fr; /* Two rows, each taking 50% height */
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--margin-s);
    text-align: center;
    color: var(--text-white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, opacity 0.3s;
}

.grid-item:hover {
    opacity: 0.9;
    background-color: var(--color-tertiary);
}
