.dynamic-grid {
    display: grid;
    height: 100%;
    width: 100%;
    gap: var(--margin-m); /* Adjust as needed */
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
    overflow: hidden; /* Prevent content from overflowing the container */
}

.layout-1x1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.layout-2x1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.layout-2x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.layout-1x2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-item {
    position: relative; /* Allows positioning the toggle button within the container */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--margin-s);
    text-align: center;
    color: var(--text-white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, opacity 0.3s;
    overflow: hidden; /* Prevent content from overflowing the grid item */
    box-sizing: border-box;
}

.grid-item:hover {
    opacity: 0.9;
    background-color: var(--color-tertiary);
}

/* Toggle button styling */
.toggle-customizer-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    overflow: hidden; /* Ensure the button doesn't overflow its container */
}

.toggle-customizer-btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.layout-selector {
    display: none; /* Initially hidden */
    position: absolute;
    top: 50px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.8);
    padding: var(--margin-s);
    border-radius: var(--margin-s);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevent the layout selector from overflowing its container */
    box-sizing: border-box;
    z-index: 1000; /* Ensure it appears above other content */
}
